<!DOCTYPE html>
<html>
  <head>
    <title>RailsSocial</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-pink.min.css" />      
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- con esta lina pinta las noticias que enviemos desde la app-->
    <p><%= notice %><%= alert %></p>
    <%= yield %>
  </body>
</html>
